<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<StandardDirectory Id="ProgramFilesFolder">
			<Directory Id="INSTALLFOLDER" Name="WSO2">
				<Directory Id="INTEGRATORFOLDER" Name="Integrator" />
				<Directory Id="ICPFOLDER" Name="ICP" />
			</Directory>
			<Directory Id="BALLERINAFOLDER" Name="Ballerina" />
		</StandardDirectory>

		<StandardDirectory Id="ProgramMenuFolder" />
		<StandardDirectory Id="DesktopFolder" />

	</Fragment>
</Wix>