<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Fragment>
    <ComponentGroup Id="ICPComponents" Directory="ICPFOLDER">
      <Files Include=".\payload\ICP\**"/>
    </ComponentGroup>

    <Component Id="ICPCleanupComponent" Bitness="always64" Directory="ICPFOLDER" Guid="{9C9654D1-B022-461A-8A0C-1D152B724EDC}">
      <RemoveFolder Id="RemoveICPFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\WSO2\ICP" Name="installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Fragment>
</Wix>