.tsbuildinfo
.cache
/out*/
release/
release-npm-package/
release-standalone/
release-packages/
release-gcp/
release-images/
node_modules
/plugins
/lib/coder-cloud-agent
.home
coverage
**/.DS_Store

# Code packages itself here.
/lib/vscode-reh-web-*

# Failed e2e test videos are saved here
test/test-results

# Quilt's internal data.
/.pc
/patches/*.diff~
installers/mac/WSO2_Integrator.pkg
installers/mac/artifacts-darwin.zip
installers/mac/ballerina-home.zip
installers/mac/WSO2 Integrator.pkg
installers/mac/payload/Application Support/
installers/mac/payload/Applications/
installers/mac/payload/Library/Ballerina/
installers/windows/WixPackage/payload/Ballerina/
installers/windows/WixPackage/payload/Integrator/
installers/windows/CustomAction1/obj/
installers/windows/CustomAction1/bin/
installers/windows/WixPackage/obj/
installers/windows/WixPackage/bin/
installers/windows/WixPackage/payload/ICP/
installers/linux-deb/package/usr/lib/
installers/linux-deb/package/usr/share/wso2-integrator

# VScode build output
lib/
build/
!lib/vscode

# Rush temporary files
common/deploy/
common/temp/
common/autoinstallers/*/.npmrc
**/.rush/temp/

**/rush-logs/
