[Desktop Entry]
Name=WSO2 Integrator
Comment=Low code integration.
GenericName=Text Editor
Exec=/usr/share/wso2-integrator/wso2-integrator %F
Icon=com.wso2.integrator
Type=Application
StartupNotify=false
StartupWMClass=WSO2 Integrator
Categories=TextEditor;Development;IDE;
MimeType=application/x-wso2-integrator-workspace;
Actions=new-empty-window;

[Desktop Action new-empty-window]
Name=New Empty Window
Name[cs]=Nové prázdné okno
Name[de]=Neues leeres Fenster
Name[es]=Nueva ventana vacía
Name[fr]=Nouvelle fenêtre vide
Name[it]=Nuova finestra vuota
Name[ja]=新しい空のウィンドウ
Name[ko]=새 빈 창
Name[ru]=Новое пустое окно
Name[zh_CN]=新建空窗口
Name[zh_TW]=開新空視窗
Exec=/usr/share/wso2-integrator/wso2-integrator --new-window %F
Icon=com.wso2.integrator
