[Desktop Entry]
Name=@PRODUCT_NAME@ - URL Handler
Comment=Low-code integration platform.
GenericName=Integration Platform
Exec=/usr/share/@SLUG@/wso2-integrator --open-url %U
Icon=@ICON_ID@
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/@SLUG@;
