[Desktop Entry]
Name=@PRODUCT_NAME@
Comment=Low-code integration platform.
GenericName=Integration Platform
Exec=/usr/share/@SLUG@/wso2-integrator %F
Icon=@ICON_ID@
Type=Application
StartupNotify=false
StartupWMClass=@PRODUCT_NAME@
Categories=Development;IDE;Utility;
MimeType=application/x-wso2-integrator-workspace;
Actions=new-empty-window;

[Desktop Action new-empty-window]
Name=New Empty Window
Name[cs]=Nové prázdné okno
Name[de]=Neues leeres Fenster
Name[es]=Nueva ventana vacía
Name[fr]=Nouvelle fenêtre vide
Name[it]=Nuova finestra vuota
Name[ja]=新しい空のウィンドウ
Name[ko]=새 빈 창
Name[ru]=Новое пустое окно
Name[zh_CN]=新建空窗口
Name[zh_TW]=開新空視窗
Exec=/usr/share/@SLUG@/wso2-integrator --new-window %F
Icon=@ICON_ID@
