name: Hello World
on:
  workflow_dispatch:
jobs:
  Hello-World-Job:
    runs-on:
      - codebuild-wso2_product-integrator-${{ github.run_id }}-${{ github.run_attempt }}
    steps:
      - run: echo "Hello World"
